.search-header {
    position: relative;
    display: inline-block;
    width: 100%;
}
.search-header::before{
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    left: 10px; /* Adjust the position */
    top: 50%;
    transform: translateY(-50%);
    color: #29a591; /* Icon color */
}
#headerMenu #navWrap ul li a span:hover {
    color: #f8f8f8 !important;
}
.search-header input {
    padding-left: 30px !important; /* Add space for the icon */
}
.search-header .ux-search-submit {
    background-color: white !important;
} 
.ux-search-submit .fa-chevron-right{
    font-size: 23px;
    top: 3px;
    left: 27px;
    color: #29a591;
}
#navWrap ul li span.trangchu {
    font-size: 22px !important;
    text-transform: uppercase !important;
}
#navWrap ul li .tab {
    overflow: hidden;
    border: 1px solid #21a28f;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-top: 5px;
  }
  #navWrap ul li .tab button {
    background-color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 16px;
    transition: 0.3s;
    font-size: 18px;
    text-transform: capitalize;
    color: #21a28f;
    font-weight: 700;
    border-left: 1px solid;
    
  }
  /* Change background color of buttons on hover */
  #navWrap ul li .tab button:hover {
    background-color: #21a28f;
    color: #fff;
  }
  
  /* Create an active/current tablink class */
  #navWrap ul li .tab button.active {
    background-color: #21a28f;
  }

  #navWrap ul li .cartBox {
    position: relative;
    display: inline-block;
    padding: 2px 20px;
    background-color: #f8f8f8;
    font-size: 16px;
    cursor: pointer;
}
#navWrap ul li .cartBox::before {
    content: '\f07a'; /* FontAwesome cart icon (example) */
    font-family: FontAwesome;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    color: #21a28f;
}

#navWrap ul li .cart-text {
    margin-left: 30px; /* Adjust to make room for the icon */
    text-transform: uppercase !important;
    font-size: 14px !important;
}
#navWrap ul li .cart-count {
    margin-left: 30px;
    font-size: 12px !important;
    font-style: italic;
    font-weight: 100 !important;
}
#navWrap ul li .cart-count .numberCart{
    color: #ff0000 !important;
    font-size: 14px !important;
    font-style: normal !important;
}
/* slider carousel */
.owl-carousel .owl-dots {
    display: block !important;
}
#insPages .headingPage {
    text-align: center;
    border-top:2px solid #21a28f;
    margin-top: 15px;
}
#insPages .headingPage h1 {
    font-weight: bold;
    font-size: 25px !important;
    text-transform: uppercase;
    background-color: #21a28f;
    color: #fff;
    width: 400px;
    margin: 0 auto;
    padding: 10px 5px;
    border-radius: 0% 11%/1% 50% 50%;

}
.img_left11 {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    gap: 20px; /* Spacing between items */
    margin: 0 30px;
}

.product-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.product-item:hover {
    transform: translateY(-5px);
}

.product-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    border: 1px solid #ddd;
}

.product-title {
    font-size: 18px;
    color: #333;
    margin: 10px 0 5px;
}

.product-price {
    font-size: 16px;
    color: #007bff;
}
.product-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px; /* Adjust for spacing between items */
}

.product-lists .product-item {
    width: calc(16.66% - 20px); /* 6 items per row */
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.product-lists .product-item img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.product-lists .product-item h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-lists .product-item p {
    font-size: 16px;
    color: #666;
}
/* card */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    margin: 0 0 10px;
    color: #21a28f;
}

.card-description {
    font-size: 14px;
    color: #000;
    margin: 0 0 20px;
    line-height: 1.5;
}
/* end card */
/* tab xử lý đơn hàng */
.tab-container {
    width: 100%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.tab-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px 5px;
    margin: 0 auto;
    width: 80%;
}

.tab-item {
    border: 1px solid #21a28f;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    color: #21a28f;
    text-align: center;
    /* border-bottom: 3px solid transparent; */
    transition: border-color 0.3s ease;
    background-color: #f1f1f1;
}

.tab-list li h2 {
    color: #21a28f !important;
    font-weight: 600;
}
.tab-item:hover {
    background-color: #21a28f;
    h2{
        color: #fff !important;
    }
    
}
.tab1{
    left: 30px;
}
.tab2{
    right: 30px;
}
.tab-item.active {
    border-bottom: 3px solid #21a28f;
    color: #fff !important;
    background-color: #21a28f ;
    position: relative;
    h2{
        color: #fff !important;
    }
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    min-height:500px;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.tab-content .background-tab-1 img{
    border-radius: 10px;
}
.tab-content.active {
    display: block;
}
.step-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

.step {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
    padding-left: 60px;
}

.step-number {
    width: 50px;
    height: 50px;
    background-color: #21a28f;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: absolute;
    left: 0;
}

.step-content {
    background-color: #f0f0f0;
    padding: 10px 20px;
    width: 100%;
}

.step p {
    margin: 0;
    font-size: 16px;
    color: #21a28f;
    font-weight: 500;
}

.step::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #21a28f;
    top: 40px;
    bottom: -20px;
    left: 22px;
}

.step:last-child::after {
    display: none;
}

/* end tab */
/* card khách hàng nói gì về bản */
#comment_list {
    min-height: 500px;
    height: 100%;
}
.content-kh .card {
        position: relative;
        width: 75%;
}
.content-kh .card-bottom {
    position: absolute;
    top: 70%;
    left: 20%;
    z-index: 9999;
    width: 60%;
    opacity: 0.6;
    height: 100%;
}
.content-kh .card:hover{
    transform:none;
}
.content-kh .card-bottom .card-ho-ten {
    text-align: left;
    color: #21a28f;
    font-weight: 600;
    font-style: inherit;
    font-size: 18px;
}
.content-kh .card-bottom .card-tinh {
    text-align: left;
    font-style: italic;
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
.content-kh .card-bottom .card-text
{
    color: #000;
    font-weight: 600;
    font-size: 14px;
    opacity: 2;
}
.video-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:  rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.video-container {
    width: 100%;
    background-color: #000;
}

.video-container video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.video-card .card-content {
    padding: 15px;
    text-align: center;
}

.video-card .card-content h3 {
    margin: 10px 0;
    font-size: 20px;
    color: #21a28f;
}


/* end card*/
/* đối tác */
.partner-img {
    box-shadow:  rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}
/* end đối tác */
.insFooter.styleNew .topFooter img {
    width: 80px;
    margin-bottom: 20px;
}
.insFooter.styleNew .topFooter h4 {
    font-weight: 600;
    text-transform: uppercase;
    color: #21a28f !important;
}
.insFooter.styleNew .topFooter .ulLinks span {
    color: #000 !important;
}
.insFooter.styleNew .topFooter .copy .hotline::before {
    content: "\260E "; /* Unicode for a phone icon */
    font-family: "Font Awesome 5 Free"; /* Specify the Font Awesome font */
    font-weight: 900; /* Ensure the icon uses the solid style */
    font-size: 18px;
    color: #21a28f;
    margin-right: 5px;
}
@media (min-width: 1200px) {
    #headerPage {
        background-color: #21a28f !important;
        padding: 0px !important;
    }
    .hidden-md {
        display: none;
    }
}
@media (max-width: 1200px) {

    .product-list {
        grid-template-columns: repeat(4, 1fr); /* 4 columns on medium screens */
    }
}

@media (max-width: 768px) {
    
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    }
    
    .product-lists {
        display: block;
    }

    .product-lists .product-item {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    #headerPage {
        background-color: #f8f8f8 !important;
        position: relative;
        top: 24px;
    }
    #headerPage .insHeaderWrap {
        min-height: 0 !important;
    }
    #headerPage img {
        width: 50% !important;
        display: none;
    }
    #headerPage i{
        color: #21a28f !important;
    }
    #headerPage #headerSearch {
        position: relative;
        top: -21px;
    }
    #headerLogo {
        position: relative;
        top: -1px;
    }
    
    .search-field {
        border: 1px solid #000 !important;
    }
    #headerPage .cartBox {
        position: relative;
        display: inline-block;
        background-color: #f8f8f8;
        font-size: 12px;
        cursor: pointer;
    }
    #headerPage  .cartBox::before {
        content: '\f07a'; /* FontAwesome cart icon (example) */
        font-family: FontAwesome;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 22px;
        color: #21a28f;
    }
    
    #headerPage .cart-text {
        margin-left: 31px; /* Adjust to make room for the icon */
        text-transform: uppercase !important;
        font-size: 12px !important;
        font-weight: 600;
        color: #21a28f !important;
    }

    #headerPage  .cart-count {
        margin-left: 30px;
        font-size: 12px !important;
        font-style: italic;
        font-weight: 100 !important;
        color: #21a28f;
    }
    #headerPage .cart-count .numberCart{
        color: #ff0000 !important;
        font-size: 14px !important;
        font-style: normal !important;
    }
    .product-list {
        grid-template-columns: 1fr; /* 1 column on very small screens */
    }
    .tab-list{
        width: 100%;
        position: relative;
       
    }
    .tab-list .active.tab1 {
        left: 15px;
    }
    .tab-list .active.tab2 {
        left: -25px;
    }
    .tab-list h2 {
        font-size: 12px !important;
    }
    .tab-list .tab-item {
        padding: 5px 15px;
    }
    #insPages .headingPage h1 {
        width: 339px;
    }
    .content-kh-mobile {
        .slider-container {
            position: relative;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            overflow: hidden;
        }
        .slider {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
        
        .card {
            min-width: 100%; /* Show one card at a time */
            box-sizing: border-box;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            text-align: center;
            position: relative;
            height: 100%;
            min-height: 460px;
        }
        .card .card-top {
            width: 80%;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            border-radius: 5px;
        }
        .card .card-bottom {
            position: absolute;
            top: 35%;
            left: 13%;
            height: 50%;
            min-height: 300px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            border-radius: 5px ;
            z-index: 9999;
            width: 86%;
            opacity: 0.6;
        }
        .card .card-bottom .card-body {
            text-align: left;
        }
        .card img {
            max-width: 100%;
            border-radius: 10px;
            margin-bottom: 15px;
        }
        
        .card h3 {
            font-size: 20px;
            margin-bottom: 10px;
            color: #21a28f;
            font-weight: 600;
        }
        
        .card p {
            font-size: 16px;
            color: #000;
        }
        
        button.prev, button.next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 18px;
        }
        
        button.prev {
            left: 10px;
        }
        
        button.next {
            right: 10px;
        }
        
        button.prev:hover, button.next:hover {
            background-color: #21a28f;
        }
    }
}